# Python
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# Environment
.env
env_sunnycode/
venv/
.venv/

# Node.js
node_modules/
npm-debug.log

# IDE
.vscode/
.idea/

# macOS
.DS_Store
